.logcontent {
  height: 100%;
  color: white;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
}

.logback {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: navy;
}

/* *********************************media query************************************* */
@media screen and (max-width: 600px) {
  .logcontent {
    height: 100%;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
    margin-top: 20%;
  }

  .logback {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: navy;
  }

  .form {
    font-size: 17px;
  }
}
