<div class=" logback">
  <div class="logcontent">
    <h3 class="text-center">Login Here</h3>
    <b class="text-danger">{{missmatch}}</b>
    <form [formGroup]="formdata">
      <div class="form-group">
        <label>UserName</label>
        <input type="text" minlength="4" name="username"
          [ngClass]="{'is-invalid':formdata.get('username').touched && formdata.get('username').invalid}"
          class="form-control" required formControlName="username" required>
        <div class="invalid-feedback">
          <div>UserName is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" id="pass" formControlName="pass" name="pass" class="form-control" minlength="4"
          [ngClass]="{'is-invalid':formdata.get('pass').touched && formdata.get('pass').invalid}" required>
        <div *ngIf="formdata.get('pass').touched && formdata.get('pass').invalid" class="invalid-feedback">
          <div *ngIf="formdata.get('pass').errors.required">password is required.</div>
          <div *ngIf="formdata.get('pass').errors.minlength">password must be atleast 4 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" (click)="submitdata()" [disabled]="!formdata.valid" class="btn btn-warning">login</button>
        <a routerLink="/register"><button type="button" class="btn btn-secondary ml-3">Register</button></a>
      </div>
    </form>
  </div>
</div>
