<div class="overall overflow-hidden">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-3  headtop" [ngClass]="{'showchat': showmessage}">
      <div class="border-bottom border-dark">
        <div class="clearfix">
          <div class="float-left">
            <strong> {{logname|titlecase}}</strong>
          </div>
          <div class="dropdown float-right">
            <i class=" fa fa-ellipsis-h pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item text-danger fa fa-sign-out" style="cursor: pointer;"
                (click)="logout()">Logout</span>
              <span class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal">
                Settings</span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h6 class="chatusers">Chat Users:</h6>
        </div>
      </div>
      <div class="overflow-auto userlist">
        <div class="nav flex-column nav-pills" aria-orientation="vertical">
          <a class="nav-link active" style="display: none;" aria-selected="true"></a>
          <div class="nav-link border-bottom border-dark" data-toggle="pill" aria-selected="false" type="submit"
            (click)="onSelectingUser(user)" *ngFor="let user of users">
            <h6 style="display: block;">{{user.username|titlecase}}</h6>
            <small *ngIf="user.logouttime">Lastseen at
              {{user.logouttime|date:'h:mm a, dd/MM/yyyy'}}</small>
            <small *ngIf="!user.logouttime"><i class="fa fa-circle"
                style="font-size: 15px;color: limegreen;"></i>online</small>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="pointer" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              ....
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main col-12 col-sm-12 col-lg-9" [ngClass]="{'showchat': !showmessage}">
      <div class="text-center onmobileview" *ngIf="!showmessage">
        <h2>Welcome:{{logname|titlecase}},</h2>
        <img src="assets/chat.png" width="300px" height="250px">
        <h2>Have Fun</h2>
      </div>
      <div *ngIf="showmessage" class="border-bottom border-dark">
         <h3 class="d-block"><i class="showbackicon fa fa-arrow-left"(click)="visibleusers()"></i> {{selecteduser|titlecase}}</h3>
      </div>
      <div *ngIf="showmessage" #scroll class="pt-2 overflow-auto chatlist">
        <div name="chats">
          <div class="clearfix" *ngFor="let chat of chat">
            <div *ngIf="(chat.From == this.logname)&&(chat.To == this.selecteduser)" class="float-right mb-2 pointer">
              <div class="dropdown float-right bg-info p-2 msgradius">
                <span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="msgsize">{{chat.Messages}} </span>
                  <small>{{chat.Date|date:'h:mm a, dd/MM/yyyy'}}</small>
                  <small *ngIf="chat.Isread" class="text-light p-1 fas fa-check-double"></small>
                  <small *ngIf="!chat.Isread" class="text-danger p-1 fas fa-check"></small>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <span class="dropdown-item text-danger fa fa-trash" (click)="deletemessage(chat.Id)">Remove</span>
                  <li style="list-style: none;" class="dropdown-item" (click)="copyMessage(chat.Messages)"
                    value="{{chat.Messages}}">Copy</li>
                  <li style="list-style: none;" class="dropdown-item" (click)="editMessage(chat.Messages,chat.Id)"
                    value="{{chat.Messages}}">Edit</li>
                </div>
              </div>
            </div>
            <div *ngIf="(chat.From == this.selecteduser)&&(chat.To==this.logname)"  class="float-left mb-2 pointer">
              <div class="dropdown float-right bg-warning p-2 msgradius">
                <span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="msgsize">{{chat.Messages}} </span>
                  <small class="smalltag">{{chat.Date|date:'h:mm a, dd/MM/yyyy'}}</small>
                  <small *ngIf="chat.Messages&&chat.Date" (change)="showHtmlToaster(this.msgs,this.date)"></small>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li style="list-style: none;" class="dropdown-item" (click)="copyMessage(chat.Messages)"
                    value="{{chat.Messages}}">Copy</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="formbottom" *ngIf="showmessage">
        <form [formGroup]="formdata">
          <div class="form-group clearfix">
            <input type="text" placeholder="Type Your Message Here"  id="msg" name="msgs"
              class="form-control float-left forminput" formControlName="msgs" required>
            <button [disabled]="formdata.invalid" type="submit" class="float-right formbtn fa fa-send-o bg-primary"
              (click)="sendmsg()">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
