.headtop {
  height: 100vh;
}

.msgradius {
  border-radius: 50px;
}

.overflow-auto.userlist {
  height: calc(100% - 52px);
}

.overflow-auto.chatlist {
  height: calc(100% - 82px);
  padding-top: 42px;
  border-bottom: 1px solid;
}
.showbackicon{
visibility: hidden;
}
.main {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  float: right;
  right: 0;
  height: 100vh;
}

.formbtn {
  width: 15%;
  font-size: 25px;
  padding: 10px;
}
.forminput {
  width: 85%;
}

.formbottom {
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .formbtn {
    width: 20%;
    font-size: 16px;
    padding: 10px;
  }
.onmobileview{
  display: none;
}
.showbackicon{
  visibility: visible;
}
  .forminput {
    width: 80%;
  }
.showchat{
  display: none;
}
  img {
    width: 250px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h6 {
    font-size: 15px;
  }
}
