<div class="reg-back">
  <div class="reg-content">
    <h3 class="text-center">Register Here</h3>
    <b>{{message}}</b>
    <b class="text-danger">{{usercheck}}</b>
    <form [formGroup]="formdata">
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" minlength="4" name="name" class="form-control"
          [ngClass]="{'is-invalid':formdata.get('name').touched && formdata.get('name').invalid}" required>
        <div class="invalid-feedback">
          <div>Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label>UserName</label>
        <input type="text" formControlName="username" minlength="4" class="form-control"
          [ngClass]="{'is-invalid':formdata.get('username').touched && formdata.get('username').invalid}" required>
        <div class="invalid-feedback">
          <div>UserName is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" id="pass" formControlName="pass" name="pass" class="form-control" minlength="4"
          [ngClass]="{'is-invalid':formdata.get('pass').touched && formdata.get('pass').invalid}" required>
        <div *ngIf="formdata.get('pass').touched && formdata.get('pass').invalid" class="invalid-feedback">
          <div *ngIf="formdata.get('pass').errors.required">password is required.</div>
          <div *ngIf="formdata.get('pass').errors.minlength">password must be atleast 4 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" id="repass" formControlName="repass" name="repass" class="form-control" minlength="4"
          [ngClass]="{'is-invalid':formdata.get('repass').touched && formdata.get('repass').invalid}" required>
        <div *ngIf="formdata.get('repass').touched && formdata.get('repass').invalid" class="invalid-feedback">
          <div *ngIf="formdata.get('repass').errors.required">confirm password is required.</div>
          <div *ngIf="formdata.get('repass').errors.mustmatch">password must be atleast 4 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!formdata.valid" (click)="submitdata()"
          class="btn btn-secondary">Register</button>
        <a routerLink="/login"><button type="button" class="ml-4 btn btn-warning">Login</button></a>
      </div>
    </form>
  </div>
</div>
