.reg-content {
  height: 100%;
  margin-left: 40%;
  margin-right: 40%;
  color: white;
  margin-top: 5%;

}

.reg-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: navy;
}

@media screen and (max-width: 600px) {
  .reg-content {
    height: 100%;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
    margin-top: 20%;
  }

  .regback {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: navy;
  }

  .form {
    font-size: 17px;
  }
}
